<p>Hello <%= @resource.name %>!</p>

<p>看來您忘記密碼囉，請點擊以下連結來修改密碼</p>

<p><%= link_to '點擊這裡來修正密碼', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果您沒有透過網站點選忘記密碼，您可能需要注意您的帳戶安全。</p>
<p>若未透過信封中的連結進行修改密碼，您的帳戶密碼仍不會變動。</p>
